<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Result Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/css/main.css')}}"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="{{url_for('static', filename='assets/css/noscript.css')}}"
    /></noscript>
  </head>
  <body style="align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;">
    <script type="module">
      const getResult = async () => {
        const response = await fetch("/fault");
        const data = await response.json();

        return data;
      };

      const INTERVIEW_RESULT_KEY = "interviewResultKey";
      const resultData = localStorage.getItem(INTERVIEW_RESULT_KEY);
      const interviewResult = JSON.parse(resultData);

      //console.log(interviewResult)

      localStorage.setItem(INTERVIEW_RESULT_KEY, '[]')

      const feed1 = document.querySelector(".feed1");
      const feed2 = document.querySelector(".feed2");
      const feed3 = document.querySelector(".feed3");
      feed1.innerHTML = interviewResult[0];
      feed2.innerHTML = interviewResult[1];
      feed3.innerHTML = interviewResult[2];

      var interviewScore = 0;
      for(var i = 0; i < 3; i++) {
        interviewScore += parseInt(interviewResult[i].match(/[0-9]/g)[0]);
      }
      //console.log(interviewScore);

      const result1 = document.querySelector(".res1");
      const result2 = document.querySelector(".res2");
      const result3 = document.querySelector(".res3");
      const result4 = document.querySelector(".res4");
      //promise객체가 반환이 되면 then을 쓰거나(후자의 경우가 아닐 때) async scope 내에서 await를 걸어줘야됨(위의 경우)
      getResult().then(
        (res) => {
          const result = res.faultArray;
          result1.innerHTML = result[0];
          result2.innerHTML = result[1];
          result3.innerHTML = result[2];
          if(result[3] == ("합격") && interviewScore >= 24) result4.innerHTML = "💐 축하드립니다! 모의 면접에 합격하셨습니다!"
          else result4.innerHTML = "😡 아쉽게도, 모의 면접에 불합격 하셨습니다.. 분발하세요!";
          
          console.log(res);
        }
      );
    </script>
    <header id="interview-header" class="alt">
      <span class="logo"><img src="images/logo.svg" alt="" /></span>
      <h1 style="text-align: center"><strong>Interview Result</strong></h1>
    </header>
    <div id="main" style="display: flex; align-items: center; flex-direction: column; width:90%;">
      <h1>[결과표]</h1>
      <h1>면접 답변 피드백</h1>
      <h2 class="feed1"></h2>
      <h2 class="feed2"></h2>
      <h2 class="feed3"></h2>
      <h1>영상 진단</h1>
      <h2 class="res1"></h1>
      <h2 class="res2"></h1>
      <h2 class="res3"></h1>
      <h1 class="res4"></h1>  
    </div>
  </body>
</html>
