<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/css/interview.css')}}"
    />
  </head>
  <body style="overflow-x: hidden">
    <script type="module" src="../static/assets/js/interview/index.js"></script>
    <div class="container">
      <div
        class="row"
        style="
          width: 100vw;
          overflow-x: hidden;
          display: flex;
          justify-content: center;
        "
      >
        <div class="col-lg-8 offset-lg-2">
          <img src="{{ url_for('video_feed') }}" width="100%" />
        </div>
      </div>
      <h1 id="question-subtitle">질문 1</h1>
      <input id="interview" type="hidden" value="" autocomplete="off" />
      <button class="voice">
        <i class="fa fa-volume-up" style="font-size: 35px"></i>
      </button>
      <div
        style="
          width: 100vw;
          overflow-x: hidden;
          display: flex;
          justify-content: flex-end;
        "
      >
        <button
          id="nextButton"
          style="
            padding: 15px;
            font-weight: 15px;
            margin-right: 30px;
            cursor: pointer;
          "
          disabled
        >
          다음
        </button>
      </div>
    </div>
  </body>
</html>
